body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 800px;
  margin: 5vh auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

#deck {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media only screen and (max-width: 800px) {
  #root {
    margin: 0 auto;
  }
  .card {
    width: calc(20% - 1rem); /* Adjust card width for large screens */
    max-width: 200px; /* Set max-width for larger screens */
  }
}